@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255); 
    font-family: "Oswald", sans-serif;
   
    scroll-behavior: smooth;
}
:root{
    --index1:var(1vh+1vw);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.header{
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    color: white;
    
}

.logo{
    display: inline-block;
    color: white;
    font-size: 40px;
    margin-left: 10px;
    
}

.nav{
    width: 100%;
    height: 50%;
    position: fixed;
    background-color: black;
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 15px;
    color: white;
}
.menu a:hover{
    color: white;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb{
    cursor: pointer;
    float: right;
    
}

.hamb-line {
    
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} 

.hamb-line::before,
.hamb-line::after{
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} 
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: white;
 
    }
 
    .hamb{
        display: none;
    }
}

.osn{
    width: 100%;
    margin: 0;
    background-image: url(coffe.jpg);
    background-size: cover;
    padding: 20% 0;
    
}

.inf{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: black;
}

.a{
    text-decoration: none;
    color: white;
    background-color: black;
    transition: all 0.7s;
    padding: 1% 2%;
}
.a:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
    transition: all 0.7s;
    padding: 1% 2%;
    border: 3px solid black;

}

.foto{
margin-top: 10%;
    text-align: center;
    width: 100%;
    display: flex;
    
}

.foto1{
    
    width: 100%;
    display: grid;
}

footer{
    height: 100%;
    display: grid;
    width: 100%;
    background-color: black;
}

.asml{
    transition: all 0.7s;
}
.asml:hover{
    transform: scale(1.1);
    transition: all 0.7s;
}